<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>SpringMVClinic</title>
        <link rel="stylesheet" href="../../resources/static/static.css" th:href="@{/resources/static/static.css}"/>
        <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/popper.js/1.12.3/dist/umd/popper.min.js"
                th:src="@{/webjars/popper.js/1.12.3/dist/umd/popper.min.js}"></script>
        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.js"
                th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta/css/bootstrap.css"
              th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.css}"
              rel="stylesheet" media="screen"/>
        <script src="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.js}"></script>
    </head>
    <body>
    </body>
</html>