<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="headerinc :: head"></th:block>
    </head>
    <body>
        <div class="container">
            <th:block th:include="header :: header"></th:block>
            <div class="jumbotron">
                <div class="intro-text">
                    <h2>Spring CRUD Example site</h2>
                    <p><strong>Doctor's clinic</strong></p>
                </div>
            </div>
        </div>
    </body>
</html>